@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body{
    background-image: url(./assets/img/background.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    font-family: Roboto;
    padding-bottom: 100px;
}
label{
    display: block;
    position: relative;
    .error{
        position: absolute;
        bottom: -20px;
        left: 20px;
        color: red;
    }
}
header span,
a{
    color: #554E4E;
    transition: all .2s;
    cursor: pointer;
    &:hover{
        color: #000;
        text-decoration: none;
    }
}

input.input{
    border: 2px solid #DDDDDD;
    box-sizing: border-box;
    border-radius: 24px;
    height: 50px;
}
.button{
    height: 50px;
    background: #FEFEFD;
    border: 2px solid #DDDDDD;
    border-radius: 24px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-transform: capitalize;
    color: #554E4E;
    
    display: flex;
    align-items: center;
    padding: 0 15px;
    cursor: pointer;
    width: min-content;
    transition: all .1s;
    float: right;
    &:hover{
        background: #DDDDDD;
        color: inherit;
        border: 2px solid #DDDDDD;
    }
    img{
        margin-left: 20px;
    }
}
.login{
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 20px;
}
.content{
    margin-top: 50px
}
.title{
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    color: #ddd;
}

.loading{
    pointer-events: none;
    opacity: 0.5; 
}
.modal-backdrop,
.modal{
    display: block;
    pointer-events: none;
    &.show{
        pointer-events: auto;
        .modal-content{
            pointer-events: auto;
        }
    }
}

.modal-content{
    pointer-events: none;
}

.t-cell{
    height: 30px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}